*{
    margin: 0;
   padding: 0;
    background-color: #FFE6E6;
font-family: 'Dosis', sans-serif;
}
.about h1{
    font-size: 100px;
}
.about  h2{
     padding-left: 10px;
     padding-right: 10px;
     text-align: left;
}

.about img{
    height: 350px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
span {
    color: #af6979;
}